# ===============================
# Python / Virtual Environment
# ===============================
vault.db
__pycache__/
*.pyc
.env

# ===============================
# Cryptex Vault - SENSITIVE DATA
# ===============================
storage/metadata.json
storage/vault_id.bin
storage/encrypted/
storage/decrypted/
storage/backup_*/

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
*.swp
